<template name="portfolio">
	<section id="portfolio_body">
		<div id="portfolio_imgs">
			<img src="/img/lights.jpg" alt="lights" />
			<img src="/img/camera.jpg" alt="camera" />
			<img src="/img/action.jpg" alt="action" />
		</div>
		<div id="portfolio_menu">
		<ul>
			<li id="movies">КИНО</li>
			<li id="ads">РЕКЛАМА</li>
			<li id="tv">ТВ</li>
			<li id="clips">КЛИПЫ</li>
			<li id="backstages">БЭКСТЕЙДЖИ</li>
			<li id="creative">КРЕАТИВ</li>
			<li id="aero">АЭРОСЪЕМКА</li>
		</ul>
		</div>
		{{#if start}}
			{{> portfolioStart}}
		{{else}}
			{{> portfolioGroup}}
		{{/if}}
	</section>
</template>


<template name="portfolioStart">
	{{#if currentUser}}
		<h3>Добавить видео&nbsp;<i class="fa fa-plus-square-o" aria-hidden="true"></i></h3>
		<div id="addVideo">
			{{> videoForm}}
		</div>
	{{/if}}
	<section>
		{{#if Template.subscriptionsReady}}
			<div class="col-sm-2">
					<iframe width="560" height="360" src="{{bigVideo}}?enablejsapi=1&rel=0&showinfo=0"></iframe>
			</div>
			<div class="col-sm-2">
				{{#each svideo in smallVideos}}
					<div class="col-2">
						<iframe width="320" height="180" src="{{svideo.url}}?enablejsapi=1&rel=0&showinfo=0"></iframe>
					</div>
				{{/each}}
			</div>
		{{else}}
			{{> gears}}
		{{/if}}
	</section>
</template>


<template name="portfolioGroup">
	<section>
		{{#if Template.subscriptionsReady}}
			{{#each video in videos}}
				{{> portfolioGroupVideo video=video}}
			{{/each}}
		{{else}}
			{{> gears}}
		{{/if}}
	</section>
</template>


<template name="portfolioGroupVideo">
	<div class="video_container">
		{{#if showVideo}}
		<div class="col-sm-2">
			<iframe width="560" height="360" src="{{video.url}}?enablejsapi=1&rel=0&showinfo=0"></iframe>
		</div>
		<div class="col-sm-2">
			<p class="videoGroupTitle">{{video.title}}</p>
		</div>
		{{else}}
		<div class="updateVideo">
			{{> videoForm video=video}}
		</div>
		{{/if}}
	</div>
	{{#if currentUser}}
		<h4><span class="changeVideo">Редактировать</span>&nbsp;&nbsp;<span class="deleteVideo">Удалить</span></h4>
	{{/if}}
</template>


<template name="videoForm">
	<form id="newVideo">
		<input type="url" placeholder="Введите URL видео" required="required" name="url"/>
		{{#if error}}
			<h2 class="error">Приложение пока что поддерживает добавление видео только с Ютуба!</h2>
		{{/if}}
		{{#if vid}}
			<div id="vidPreview"></div>
		{{/if}}
		<br>
		<textarea id="vidTitle" rows="10" placeholder="Введите описание видео" required="required" name="title"></textarea>
		<br>
		<p>Выберите все подходящие группы:</p>
		<p><input class="groups" type="checkbox" name="movies" value="movies">КИНО</p>
		<p><input class="groups" type="checkbox" name="ads" value="ads">РЕКЛАМА</p>
		<p><input class="groups" type="checkbox" name="tv" value="tv">ТВ</p>
		<p><input class="groups" type="checkbox" name="clips" value="clips">КЛИПЫ</p>
		<p><input class="groups" type="checkbox" name="backstages" value="backstages">БЭКСТЕЙДЖИ</p>
		<p><input class="groups" type="checkbox" name="creative" value="creative">КРЕАТИВ</p>
		<p><input class="groups" type="checkbox" name="aero" value="aero">АЭРОСЪЕМКА</p>
		<p><input class="groups" type="checkbox" name="showreel" value="showreel">Showreel</p>
		<br>
		{{#if update}}
			<input id="updateVideo" type="submit" value="Изменить"/>
		{{else}}
			<input id="submitVideo" type="submit" value="Добавить"/>
		{{/if}}
	</form>
</template>
