<template name="form">
	<section id="form">
		<h1>СВЯЖИТЕСЬ С НАМИ</h1>
		<div id="cite">
			<h2>"Жизнь пуста, если в ней нет фантазии!"</h2>
			<h5>Братья Заводски.</h5>
		</div>
		<div class="col-3-4">
			<form id="emailForm">
				<input disabled="disabled" name="zm" value="INFO@ZAVODMEDIA.COM" type="text"/>
				<input data-error="Неверный адрес электронной почты" name="email" placeholder="ВАШ E-MAIL" required="required" type="email"/>
				<textarea cols="90" name="message" placeholder="ВАША ФАНТАЗИЯ" required="required" rows="10"></textarea>
				<input id="submitForm" type="submit" value="Реализовать"/>
			</form>
		</div>
		<div class="col-1-4">
			<p id="loadPDF"><a class="loadButton" href="http://media.wix.com/ugd/839659_01078c358cfe4de3834021239a441129.pdf" target="_blank">Скачать презентацию&nbsp;<i class="fa fa-cloud-download" aria-hidden="true"></i></a></p>
			<hr>
			<p>
				<a class="smbtns" href="https://www.youtube.com/channel/UCIdshx4TicnprU1eO-7athw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
				<a class="smbtns" href="https://instagram.com/zavodmedia" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a class="smbtns" href="https://vimeo.com/zavodmedia" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
			</p>
		</div>
	</section>
</template>