* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font: 16px Arial, Helvetica, sans-serif;
	background-color: #000;
	color: #fff;
}

a, a:hover, a:focus, a:active {
	outline: 0;
}

#content {
	width: 50%;
	margin: 6em auto 6em auto;
}

.col-sm-2 {
	width: 50%;
	float: left;
}

.clearfix {
	clear: both;
}

footer {
	color: #fff;
	text-align: center;
	display: block;
}