#portfolio_body {
	height: 100vh;
	#portfolio_imgs {
		margin: 0 auto;
		padding-top: 6em;
		width: 60%;
		img {
			margin:0 10px 0 10px;
		}
	}
	ul {
		margin: 2em auto;
		list-style: none;
		text-align: center;
		display: inline-block;
	}
	li {
		padding: 15px;
		display: inline;
		font-size: 1.25em;
		&:hover {
			font-size: 1.2em;
			opacity: 0.5;
			cursor: pointer;
		}
	}
	section {
		width: 100%;
	}
	iframe {
		max-width: 100%;
		border: none;
		
	}
	.video_container {
		clear: both;
	}
	p {
		height: 360px;
		display: table-cell;
		vertical-align: middle;
		padding: 60px;
	}
}

